.task-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.task {
  width: calc(100% - 4rem);
  height: auto;
  margin: 1rem;
  padding: 0 2rem;

  display: flex;
  align-items: center;
  position: relative;

  border-radius: 0.4rem;
  background-color: var(--primary-color);

  color: var(--text-base);
  font-size: 1.4rem;
  font-weight: 600;
}

.task-value {
  padding: 1rem 6% 1rem 4%;
}

.text {
  text-decoration: line-through 0.3rem;
  padding: 1rem 6% 1rem 4%;
}

input[type='checkbox'] {
  position: relative;
  cursor: pointer;
  border-radius: 2rem;
}

input[type='checkbox']:before {
  content: '';
  border-radius: 2rem;
  display: block;
  position: absolute;
  align-items: center;
  width: 2rem;
  height: 2rem;
  top: -0.4rem;
  left: -0.2rem;
  background-color: var(--text-base);
}
input[type='checkbox']:checked:before {
  content: '';
  border-radius: 2rem;
  display: block;
  position: absolute;
  align-items: center;
  width: 2rem;
  height: 2rem;
  top: -0.4rem;
  left: -0.2rem;
  background-color: var(--primary-color);
}

input[type='checkbox']:checked:after {
  content: '';
  display: block;
  width: 0.5rem;
  height: 1rem;
  border: solid var(--text-base);
  border-width: 0 0.2rem 0.2rem 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: -0.1rem;
  left: 0;
}

.task button {
  display: flex;
  background-color: transparent;
  border: none;
  color: var(--text-base);
  position: absolute;
  right: 2rem;
}

.icon {
  width: 2.2rem;
  height: auto;
  cursor: pointer;
}

@media screen and (max-width: 425px) {
  .task {
    width: 100%;
    padding: 0 1rem;
  }

  .task-value,
  .text {
    padding: 1rem 10% 1rem 6%;
  }

  .task button {
    right: 1rem;
  }
}
