* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
}

#root {
  width: 100vw;
  height: 100vh;
  --text-base: #9f9f9f;
  --text-title: #091e02;
  --background: #1d2f31;
  --form-background: #4b5c67;
  --primary-color: #3a472b;
}

html {
  font-weight: 400;
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
}
