#container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--background);
}

#content {
  width: 50%;
  height: auto;
  padding: 2rem;
  background-color: var(--form-background);
  border-radius: 0.8rem;
}

@media screen and (max-width: 1024px) {
  #content {
    width: 60%;
  }
}

@media screen and (max-width: 770px) {
  #content {
    width: 70%;
  }
}

@media screen and (max-width: 425px) {
  #content {
    width: 90%;
    padding: 1rem;
  }
}

@media screen and (max-width: 375px) {
  #content {
    width: 92%;
    padding: 0.4rem;
  }
}
